<div class="radio-inputs">
    <label class="radio">
      <input
        type="radio"
        name="radio"
        (click)="changeSelectedLogType('vendor')"
        value="vendor"
      />
      <span class="name">Event Creation Logs</span>
    </label>
    <label class="radio">
      <input
        type="radio"
        name="radio"
        (click)="changeSelectedLogType('customer')"
        value="customer"
      />
      <span class="name">Customer Logs</span>
    </label>
    <label class="radio">
      <input
        type="radio"
        name="radio"
        (click)="changeSelectedLogType('event')"
        value="event"
        checked
      />
      <span class="name">Vendor Logs</span>
    </label>
  </div>
<div class="logs-container">
    <div *ngFor="let log of logs" class="log-entry">{{ log }}</div>
</div>
  